@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import '@radix-ui/colors/grass.css';

html {
  font-size: 62.5%;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 500;
  color: var(--grass-9);
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}
